/* img {
    width: 200px;
    height: 130px;
    border-radius: 20px;
} */

.menu-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}
.menu-item--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.menu-description button {
    background-color: red;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
    width: 100px;
}
